<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>

  <body>
    <div id="productSection" class="d-flex flex-column justify-content-center">
      <div class="container d-flex flex-row justify-content-center p-2">
        <div>
          <img class="product-image" src="./images/mobile.jpeg" />
        </div>
        <div>
          <h1>Oppo A92s</h1>
          <p>
            Times Now
            Oppo phones | Oppo A92s is the new 5G mid-ranger with 48-megapixel square-shaped camera bump</p>
          <p>Cost: <span class="price">19,400</span> </p>
          <p>Availability: <span class="availability">In Stock</span></p>
        </div>
      </div>
    </div>
    
  </body>

</html>